 

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
 
# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files

server/config/dev.ts
server/dist/**
client/dist/**
client/src/config/dev.ts


# ignore yarheroku logs --tailn.lock
package-lock.json
 