<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Email confirmation</title>
</head>
<body>
   <p>Please confirm creating your account. Click <a href={{link}}>here</a></p>
</body>
</html>