@import "~mixins";
@import "~colors";

.btn.button {
  text-align: center;
  white-space: nowrap;
  color: $primaryGreen;
  background-color: $primaryGreen;
  border-color: $primaryGreen;
  color: $darkGreen;
  font-size: toRem(15);
  line-height: toRem(20);
  border-radius: toRem(8);
  padding: toRem(12) 0;
  &:hover,
  &:focus {
    background-color: $darkGreen;
    color: $primaryWhite;
    border-color: $darkGreen;
  }
}
