@import "~mixins";
@import "~colors";

.nav-wrapper {
  padding: toRem(15) 0;
  background-color: $primaryWhite;
  position: fixed;
  width: 100%;
  .nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 toRem(60);
    margin: 0 auto;
    .nav-item:not(.dropdown) .nav-link {
      position: relative;
      text-align: center;
      white-space: nowrap;
      color: $darkGreen;
      background-color: $primaryGreen;
      font-size: toRem(16);
      line-height: toRem(20);
      border-radius: toRem(8);
      font-weight: 400;
      font-size: toRem(14);
      margin-right: toRem(6);
      &.nav-link.active,
      &:hover,
      &:focus {
        background-color: $darkGreen;
        color: $primaryWhite;
      }
    }

    .nav-item.dropdown .nav-link {
      font-size: toRem(15);
      display: flex;
      align-items: center;
      color: $darkGrey;
      background-color: $primaryWhite;

      &:hover,
      &:focus {
        background-color: $primaryWhite;
        color: $darkGrey;
      }
      &:after {
        margin-left: toRem(6);
      }
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: $primaryWhite;
      color: $darkGrey;
    }
  }
}
