@import "~mixins";

.nav-wrapper {
  padding: 15px 0;
  .nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 toRem(60);
    margin: 0 auto;
    .nav-link {
      position: relative;
      text-align: center;
      white-space: nowrap;
      color: #34a853;
      background-color: #e1f2e5;
      font-size: toRem(16);
      line-height: toRem(20);
      border-radius: toRem(8);
      font-weight: 400;
      font-size: toRem(14);
    }
  }
}
